canvas {
    border: 1px solid rgb(207, 51, 255);
}

#networkCanvas {
    /* background-color: rgba(253, 158, 121, 0.637); */
    background-image: url('fondo.png');
    background-size: cover; /* Ajusta la imagen para cubrir todo el contenedor */
}

.controls {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
  
button {
    background: #282A3A;
    color: rgb(235, 168, 179);
    border-radius: 5px;
    padding: 20px 30px;
    border: 1;
    border-color: rgb(243, 61, 91);
    cursor: pointer;
    font-family: Fredoka;
    font-size: 18pt;
}