/* Estilos para el campo de tiro */

#canvas {
    background-color: pink;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 5px;
}

/* Responsive layout - cuando el ancho de pantalla es menor a 600px, muestra las columnas apiladas. */
/* Así conseguimos que el contenido se vea bien en dispositvos móviles */

@media screen and (max-width: 600px) {
    .columna {
      width: 100%;
    }

    .iresponsive {
      width: 100%;
    }
}